/* Center the form horizontally */
.register-page {
    display: flex;
    justify-content: center;
  }
  
  
  /* Style the form */
  form {
    padding: 1rem;
    margin-top: 20rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    width: 33.33333%;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  /* Style the form fields */
  .form-field {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-label {
    font-size: 1rem;
  }
  
  mat-error {
    font-size: 0.875rem;
    color: #dc3545;
  }
  
  input.mat-input-element {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  /* Style the submit button */
  button.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
    display: block;
    margin: auto;
  }
  
  button.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  /* Style the link */
  .text-center a {
    color: #007bff;
    text-decoration: none;
  }
  
  .text-center a:hover {
    text-decoration: underline;
  }
  
  /* responsive styles */
  @media screen and (max-width: 768px) {
    form {
      width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    form {
      width: 90%;
    }
  }
  