<mat-toolbar color="primary">
  <div>
    <a routerLink="/">Webshop</a>
  </div>
  <div>
    <a class="toolbar" (click)="onCartClick()" routerLink="/cart">My Cart</a>
    <ng-container *ngIf="!isAuthenticated()">
      <a class="toolbar" routerLink="/login">Login</a>
      <a class="toolbar" routerLink="/register">Register</a>
    </ng-container>
    <ng-container *ngIf="isAuthenticated()">
      <button mat-icon-button (click)="logout()" aria-label="Logout" matTooltip="Logout">
        <mat-icon>logout</mat-icon>
      </button>
    </ng-container>
  </div>
</mat-toolbar>
<div class="toolbar">
  <router-outlet></router-outlet>
</div>
