.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #1976d2;
  color: white;
  padding: 0 1rem;
}

.mat-toolbar a {
  color: inherit;
  text-decoration: none;
  margin-right: 1rem;
}


.mat-toolbar button {
  color: inherit;
}

.toolbar {
  padding: 1rem;
}

    
    
    /* responsive styles */
    @media screen and (max-width: 768px) {
    nav {
    flex-direction: column;
    align-items: center;
    }
    
    nav div:nth-child(2) {
    margin-top: 10px;
    }
    
    nav a,
    nav button {
    margin: 5px;
    }
    }
    
    .toolbar {
    padding: 20px;
    }

 